html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #050505;
}

#canvas {
  width: 600px;
  height: 600px;
  image-rendering: pixelated;
  border: 1px solid #050505;
  border-radius: 2px;
  background-color: #000;
}
